<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=yes;">
    <link rel="stylesheet" href="result.css"/>
  </head>
  <body>
    <h1>번역 결과</h1>
    <p><%= resultData %></p> 
    <br><br>
    <a href="/">뒤돌아가기</a>
  </body>
</html>




